In [62]:
from pandas import read_csv
file_path = "/workspaces/eargweth/kc_house_data-1 (10).csv"
df = read_csv(file_path)

In [63]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.8.1)
Requirement already satisfied: numpy>=1.14.0 in /home/codespace/.local/lib/python3.12/site-packages (from category_encoders) (2.2.4)
Requirement already satisfied: pandas>=1.0.5 in /home/codespace/.local/lib/python3.12/site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from category_encoders) (1.15.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from category_encoders) (0.14.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2025.1)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [64]:
from category_encoders.sum_coding import SumEncoder

my_encoder = SumEncoder()

In [65]:
something = my_encoder.fit_transform(X = df['roof_type'])

In [66]:
from pandas import concat
cdf = concat([df, something], axis=1)
display(cdf)

               id             date  ...  roof_type_0  roof_type_1
0      7129300520  20141013T000000  ...          1.0          0.0
1      6414100192  20141209T000000  ...          0.0          1.0
2      5631500400  20150225T000000  ...         -1.0         -1.0
3      2487200875  20141209T000000  ...          1.0          0.0
4      1954400510  20150218T000000  ...          1.0          0.0
...           ...              ...  ...          ...          ...
18764  1525069021  20141201T000000  ...          1.0          0.0
18765  5076700115  20150223T000000  ...         -1.0         -1.0
18766  3332000615  20141020T000000  ...          1.0          0.0
18767  3332000615  20150422T000000  ...          1.0          0.0
18768  5569620410  20140909T000000  ...         -1.0         -1.0

[18769 rows x 24 columns]

In [67]:
unique_vals = df['roof_type'].unique()

In [69]:
name_dict = {}


for index, val in enumerate(unique_vals):
    name_dict[f'roof_type_{index}'] = 'roof_type_' + val

cdf = cdf.rename(columns = name_dict)

display(cdf)

               id             date  ...  roof_type_Asphalt  roof_type_Clay
0      7129300520  20141013T000000  ...                1.0             0.0
1      6414100192  20141209T000000  ...                0.0             1.0
2      5631500400  20150225T000000  ...               -1.0            -1.0
3      2487200875  20141209T000000  ...                1.0             0.0
4      1954400510  20150218T000000  ...                1.0             0.0
...           ...              ...  ...                ...             ...
18764  1525069021  20141201T000000  ...                1.0             0.0
18765  5076700115  20150223T000000  ...               -1.0            -1.0
18766  3332000615  20141020T000000  ...                1.0             0.0
18767  3332000615  20150422T000000  ...                1.0             0.0
18768  5569620410  20140909T000000  ...               -1.0            -1.0

[18769 rows x 24 columns]